.App {
  text-align: center;
  background-image:  
  url(Assets/Images/Illustration1.png),
  url(Assets/Images/Illustration2.png) ,
  url(Assets/Images/Illustration3.png),
  url(Assets/Images/Illustration4.png),
  url(Assets/Images/Illustration5.png) ;

background-position: left bottom,right top ,left center,right bottom,center right;
background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat; 
background-size: 300px, 300px,200px, 100px ,100px;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding: 30px;
  padding-top: 50px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cards{
  padding:0 9px;
}
